{% extends 'base.html' %}

{% load static %}

{% block title %}Edit Print Settings{% endblock title %}

{% block more_stylesheets %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock more_stylesheets %}

{% block content %}
<div class="p-3">
    <div class="container-md flow">
        <div class="bg-gradient-right-crimson-blue br-2 mb-2 p-2">
            <div class="bg-white br-2 lightly-pad-container shadow">
				<h2 class="text-center">File Options</h2>
			</div>
            <div class="bg-white br-2 p-3 mr-1 ml-1">
                <div class="form-container shadow">
                    {% csrf_token %}
                    <form method="post" onsubmit="submitEditFileForm('{{ csrf_token }}','{{ file.id }}'); return false;">
                        <div class="row">
                            <div class="col-25">
                                <label for="id_name">Filename:</label>
                            </div>
                            <div class="col-75">
                                <input type="text" name="name" required disabled id="id_name"
                                    value="{{ file.name }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="id_page_range">Page Range:</label>
                            </div>
                            <div class="col-75">
                                <select name="page_range" id="id_page_range">
                                    {% if file.page_range == '0' %}
                                    <option value="0" selected>All pages</option>
                                    <option value="1">Custom range</option>
                                    {% else %}
                                    <option value="0">All pages</option>
                                    <option value="1" selected>Custom range</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="id_pages">Range (If Custom):</label>
                            </div>
                            <div class="col-75">
                                {% if file.pages == 'All' %}
                                <input type="text" name="pages" value="All" placeholder="E.g. 1-4"
                                    required id="id_pages" disabled>
                                {% else %}
                                <input type="text" name="pages" value="{{ file.pages }}" placeholder="E.g. 1-4"
                                    required id="id_pages">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="id_color">Color:</label>
                            </div>
                            <div class="col-75">
                                <select name="color" id="id_color">
                                    {% if file.color == 'RGB' %}
                                    <option value="Gray">Grayscale</option>
                                    <option value="RGB" selected>Color</option>
                                    {% else %}
                                    <option value="Gray" selected>Grayscale</option>
                                    <option value="RGB">Color</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="id_orientation">Orientation:</label>
                            </div>
                            <div class="col-75">
                                <select name="orientation" id="id_orientation">
                                    {% if file.orientation == '3' %}
                                    <option value="3" selected>Portrait</option>    
                                    <option value="4">Landscape</option>
                                    {% else %}
                                    <option value="3">Portrait</option>    
                                    <option value="4" selected>Landscape</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center p-3">
                            <button class="bttn-brand-blue pl-3 pr-3" id="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        let rangeSelect = document.getElementById('id_page_range');
        let pagesField = document.getElementById('id_pages');

        rangeSelect.addEventListener('change', function() {
            if (rangeSelect[0].selected) { 
                pagesField.disabled = true;
                pagesField.value = 'All';
            }
            else { 
                pagesField.disabled = false;
                pagesField.value = '1-1';
            }
        });
    });

    function submitEditFileForm(csrfToken, file_id) {
        $.ajax({
            url: '/submit_edit_file_form/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': csrfToken,
                'file_id': file_id,
                'name': document.getElementById('id_name').value,
                'page_range': document.getElementById('id_page_range').value,
                'pages': document.getElementById('id_pages').value,
                'color': document.getElementById('id_color').value,
                'orientation': document.getElementById('id_orientation').value
            },
            success: function() {
                console.log('200: POST succeeded.');
                history.back();
            },
            error: function() {
                console.log('403: POST failed.');
                alert('Your request could not be submitted.');
            }
        })
    }
</script>
{% endblock content %}