{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Settings{% endblock title %}

{% block more_stylesheets %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock more_stylesheets %}

{% block content %}
<div class="p-3">
    <div class="container-md flow">
		<div class="bg-gradient-right-crimson-blue br-2 mb-2 p-2">
			<div class="bg-white br-2 lightly-pad-container shadow">
				<h2 class="text-center">App Settings</h2>
			</div>
			<div class="bg-white br-2 p-3 mr-1 ml-1">
				<div class="form-container">
					<form method='post'>
						{% crispy form %}
						<div class="d-flex justify-content-center p-3">
							<button class="bttn-brand-blue" type="submit">Save</button>
							<button class="bttn-danger ml-5" onclick="javascript:window.location.replace('/');">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}