{% extends 'base.html' %}
{% block content %}
{% if printer_selected %}
<div class="center-container">
	<div class="form-container">
		<div class="text-center title-container"><h2>New File Upload</h2></div>

		<form method='post' enctype='multipart/form-data'>
			{% csrf_token %}
			{{ form.as_p }}
			<div class="form-btn-container">
				<span class="space-left-sm">
					<button class="btn btn-primary" type="submit">
						Save
					</button>
				</span>
				<span class="space-lefts-sm">
					<button class="btn btn-danger" onclick="javascript:history.back();">
						Cancel
					</button>
				</span>
			</div>
		</form>
	</div>
</div>
{% else %}
<div class="center-container">
	<div class="form-container">
		<div class="text-center title-container"><h2>CUPS profile not configured</h2></div>
		<p>
			You must select an available printer profile in the <a href="{% url 'settings' %}">settings</a>.
			If no printer profile is available, you will need to add one through the CUPS
			web GUI (located <a target="_blank" href="https://localhost:631">here</a> if available)
			or through the lpadmin command-line tool.
		</p>
		<div class="form-btn-container">
			<a href="{% url 'index' %}">
				<button class="btn btn-primary">Okay</button>
			</a>
		</div>
	</div>
</div>
{% endif %}
<br>
{% endblock content %}